<!DOCTYPE html>
<html ng-app="swapApp">
<head>
<meta charset="ISO-8859-1">
<title>List of Items to Swap</title>
<link rel="stylesheet" type="text/css" href="application.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script src="js/controllers.js"></script>
</head>
<body ng-controller="swapAppController">

	<p>
		Search: <input ng-model="query" />
	<p>Current Query: {{query}}
	<table width="65%" bgcolor="white" border="0" align="center">
		<tr>
			<th>Summary</th>
			<th>Description</th>
			<th>Location</th>
			<th>Owner</th>
		</tr>
		<tr ng-repeat="swapItem in swapItems | filter:query">
			<td>{{swapItem.summary}}</td>
			<td>{{swapItem.description}}</td>
			<td>{{swapItem.location}}</td>
			<td>{{swapItem.owner}}</td>
		</tr>
	</table>
	{{swapItems.length}} items available. Raw Model:
<pre>
{{swapItems}}
</pre>
</body>
</html>